@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:wght@400;500;700&display=swap");

@font-face {
  font-family: "Instrument Sans";
  src: url("./assets/fonts/GuanabaraSansTest-Thin.woff") format("woff");
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: "Instrument Sans";
  src: url("./assets/fonts/GuanabaraSansTest-Light.woff") format("woff");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "Instrument Sans";
  src: url("./assets/fonts/GuanabaraSansTest-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Instrument Sans";
  src: url("./assets/fonts/GuanabaraSansTest-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Instrument Sans";
  src: url("./assets/fonts/GuanabaraSansTest-Bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Instrument Sans";
  src: url("./assets/fonts/GuanabaraSansTest-Black.woff") format("woff");
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: "Argent Pixel CF";
  src: url("./assets/fonts/ARGENTPIXELCF-REGULAR.OTF") format("opentype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "ZT Talk";
  src: url("./assets/fonts/ZTTalk-Light.otf") format("opentype");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "ZT Talk";
  src: url("./assets/fonts/ZTTalk-Regular-BF66593cc9a9565.otf")
    format("opentype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "ZT Talk";
  src: url("./assets/fonts/ZTTalk-Medium-BF66593cc74918d.otf")
    format("opentype");
  font-weight: 500;
  font-style: normal;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

h1 {
  margin: 0;
}

body,
html {
  margin: 0;
  padding: 0;
  font-family: "Instrument Sans", sans-serif;
  -webkit-font-smoothing: antialiased;
  background: #f5f3f5;
  overflow-x: hidden;
}
